<% 
var channels = locals.channels
var owned = ("owned" in  channels) ? channels.owned : false
var subscribed = ("subscribed" in  channels) ? channels.subscribed : false
%>
<div class="row col-12 p-0">
    <div class="border border-dark col-lg-3 col-md-6 col-12 justify-content-center align-items-center d-flex">
        <p class="m-0 mr-3">Account</p>
        <% if (user.photoURL) { %>
            <img src="<%= user.photoURL %>" class="rounded-circle border border-dark smallavatar mr-3">
        <% } %>
        <% if (!user.photoURL) { %>
            <img src="img/dummy.png" class="rounded-circle border border-dark smallavatar mr-3">
        <% } %>
        <a href="account" class=""><i class="fa fa-cog" aria-hidden="true"></i></a>
    </div>
    <a href="/" class="border border-dark col-lg-3 col-md-6 col-12 justify-content-center align-items-center d-flex">
        Log Out
    </a>
    <div class="dropdown border border-dark col-lg-3 col-md-6 col-12 justify-content-center align-items-center d-flex">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Channels
        </button>
        <div class="dropdown-menu p-0" aria-labelledby="dropdownMenu2">
            <% if (owned) { %>
                <ul class="m-0 p-0">
                    <% owned.forEach(function(channel) { %>
                        <li class="p-1 my-1 mx-1 row border border-dark justify-content-center">
                            <strong><a href="/channel/<%= channel.id %>/"><%= channel.name %></a></strong>      
                        </li>
                    <% }) %>
                </ul>
            <% }  %>
            <% if (subscribed) { %>
                <ul class="m-0 p-0">
                    <% subscribed.forEach(function(channel) { %>
                        <li class="p-1 my-1 mx-1 row border border-dark justify-content-center">
                            <strong><a href="/channel/<%= channel.id %>/"><%= channel.name %></a></strong>      
                        </li>
                    <% }) %>
                </ul>
            <% }  %>
        </div>
    </div>
    <div class="border border-dark col-lg-3 col-md-6 col-12 justify-content-center align-items-center d-flex">
        SOAR
    </div>
</div>