<!DOCTYPE html>
<html lang="en">
<head>
    <title>SOAR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div class="container-fluid">
    <div class="my-1 row">
        <div class="mx-auto col-10">
            <div class="row">
                <div class="col-3 border border-dark height-4vw">
                    <p class="m-1">Account</p>
                    <img src="<%= user.photoURL %>" alt="avatar" class="m-1 rounded-circle border border-dark minsize-3vw">
                    <a href="account" class="m-1"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </div>
                <a href="/" class="col-3 border border-dark height-4vw">
                    Log Out
                </a>
                <div class="dropdown col-3 border border-dark height-4vw">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Channels
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button"><a href="loggedIn">Channel X</a></button>
                    </div>
                </div>
                <div class="col-3 border border-dark height-4vw">
                    SOAR
                </div>
                <div class="col-6 border border-dark minsize-7vw my-2 mx-0">
                    <form action="/account" method="post" enctype="multipart/form-data">
                    <p class="m-2"> Current Email</p> 
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Current email" value="<%= locals.user.email %>" readonly>
                </div>
                <div class="col-6 border border-dark minsize-7vw my-2 mx-0">
                    <p class="m-2"> New Email</p>
                    <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" value="<%= locals.user.email %>" >
                </div>
                <div class="col-6 border border-dark minsize-7vw my-2 mx-0">
                    <p class="m-2"> Current Account Name</p> 
                    <input type="accountName" class="form-control" placeholder="Current account name" value="<%= locals.user.displayName %>" readonly>
                </div>
                <div class="col-6 border border-dark minsize-7vw my-2 mx-0">
                    <p class="m-2"> New Account Name</p>
                    <input name="displayName" type="text" class="form-control" placeholder="Enter account name" value="<%= locals.user.displayName %>" >
                </div>
                <div class="col-6 border border-dark minsize-7vw my-2 mx-0">
                    <div class="row align-items-center h-100">
                        <div class="col-6 text-center">
                            <strong><%= locals.user.displayName %></strong>
                        </div>
                        <div class="col-6 text-center">
                            <img src="<%= user.photoURL %>" alt="avatar" class="m-1 rounded-circle border border-dark maxsize-6vw"> 
                        </div>                                                                                   
                    </div>  
                </div>
                <div class="col-6 border border-dark minsize-7vw my-2 mx-0">
                    <p class="m-2"> New Avatar</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input name="avatar" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 border border-dark minsize-7vw my-2 mx-0">
                    <div class="row h-100">
                        <button type="submit" class="btn btn-light btn-lg btn-outline-dark p-2 my-2 m-auto">Change Account Details</button>
                        </form>
                    </div>  
                </div>
                <% if (locals.errors && locals.errors.profile) { %>
                    <div class="row justify-content-md-center col-12 p-0 m-0">
                        <% locals.errors.profile.forEach(function(error) { %>
                            <div class="col-12 div alert alert-primary m-2 py-3 alert-dismissible fade show border-dark border" id="textcentre" role="alert">
                                <p class="mb-0"><%= error %></p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <% }) %>
                    </div>
                <% } %>
                <div class="col-6 border border-dark minsize-7vw my-2 mx-0">
                    <form action="/password" method="post" enctype="multipart/form-data">
                    <p class="m-2"> Old Password</p>
                    <input type="password" class="form-control" placeholder="Old Password" readonly>
                </div>
                <div class="col-6 border border-dark minsize-7vw my-2 mx-0">
                    <p class="m-2"> Password</p>
                    <input name="password" type="password" class="form-control" placeholder="Password">
                </div>
                <div class="col-6 border border-dark minsize-7vw my-2 mx-0">
                    <p class="m-2"></p>
                </div>
                <div class="col-6 border border-dark minsize-7vw my-2 mx-0">
                    <p class="m-2"> Confirm Password</p>
                    <input name="passwordConfirm" type="password" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="col-12 border border-dark minsize-7vw my-2 mx-0">
                    <div class="row h-100">
                        <button type="submit" class="btn btn-light btn-lg btn-outline-dark p-2 my-2 m-auto">Update Password</button>
                        </form>
                    </div>  
                </div>
                <% if (locals.errors && locals.errors.password) { %>
                    <div class="row justify-content-md-center col-12 p-0 m-0">
                        <% locals.errors.password.forEach(function(error) { %>
                            <div class="col-12 div alert alert-primary m-2 py-3 alert-dismissible fade show border-dark border" id="textcentre" role="alert">
                                <p class="mb-0"><%= error %></p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <% }) %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div><!-- end #main -->
<%- include('partials/footer'); %>