<!DOCTYPE html>
<html lang="en">
<head>
    <title>SOAR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div class="container-fluid">
    <div class="my-1 row">
        <div class="mx-auto col-10">
            <div class="row">
                <div class="border border-dark col-lg-3 col-md-6 col-12 justify-content-center align-items-center d-flex">
                    <p class="m-0 mr-3">Account</p>
                    <div>
                        <% if (user.photoURL) { %>
                            <img src="<%= user.photoURL %>" class="rounded-circle border border-dark smallavatar mr-3">
                        <% } %>
                        <% if (!user.photoURL) { %>
                            <img src="img/dummy.png" class="rounded-circle border border-dark smallavatar mr-3">
                        <% } %>
                    </div>
                    <a href="account" class=""><i class="fa fa-cog" aria-hidden="true"></i></a>
                </div>
                <a href="/" class="border border-dark col-lg-3 col-md-6 col-12 justify-content-center align-items-center d-flex">
                    Log Out
                </a>
                <div class="dropdown border border-dark col-lg-3 col-md-6 col-12 justify-content-center align-items-center d-flex">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Channels
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button"><a href="channels">Channels</a></button>
                    </div>
                </div>
                <div class="border border-dark col-lg-3 col-md-6 col-12 justify-content-center align-items-center d-flex">
                    SOAR
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 border border-dark my-2 mx-0">
                    <form action="/account" method="post" enctype="multipart/form-data">
                    <p class="left"> Current Email</p> 
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Current email" value="<%= locals.user.email %>" readonly>
                </div>
                <div class="col-md-6 col-12 border border-dark my-2 mx-0">
                    <p class="left"> New Email</p>
                    <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" value="<%= locals.user.email %>" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 border border-dark my-2 mx-0">
                    <p class="left"> Current Account Name</p> 
                    <input type="accountName" class="form-control" placeholder="Current account name" value="<%= locals.user.displayName %>" readonly>
                </div>
                <div class="col-md-6 col-12 border border-dark my-2 mx-0">
                    <p class="left"> New Account Name</p>
                    <input name="displayName" type="text" class="form-control" placeholder="Enter account name" value="<%= locals.user.displayName %>" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 border border-dark my-2 mx-0">
                    <div class="row align-items-center h-100">
                        <div class="col-6 text-center p-0">
                            <strong><%= locals.user.displayName %></strong>
                        </div>
                        <div class="col-6 text-center p-0">
                            <div>
                                <% if (user.photoURL) { %>
                                    <img src="<%= user.photoURL %>" class="rounded-circle border border-dark maxsize-6vw"> 
                                <% } %>
                                <% if (!user.photoURL) { %>
                                    <img src="img/dummy.png" class="rounded-circle border border-dark maxsize-6vw"> 
                                <% } %>
                            </div>
                        </div>                                                                                   
                    </div>  
                </div>
                <div class="col-md-6 col-12 border border-dark my-2 mx-0">
                    <p class="left"> New Avatar</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input name="avatar" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 border border-dark my-2 mx-0 ">
                    <button type="submit" class="btn btn-light btn-lg btn-outline-dark">Change Account Details</button>
                    </form> 
                </div>
            </div>
            <div class="row">
                <% if (locals.errors && locals.errors.profile) { %>
                    <div class="row justify-content-md-center p-0 col-12">
                        <% locals.errors.profile.forEach(function(error) { %>
                            <div class="col-12 div alert alert-primary alert-dismissible fade show border-dark border" id="textcentre" role="alert">
                                <p class="mb-0"><%= error %></p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <% }) %>
                    </div>
                <% } %>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 border border-dark my-2 mx-0">
                    <form action="/password" method="post" enctype="multipart/form-data">
                    <p class="left"> Old Password</p>
                    <input type="password" class="form-control" placeholder="Old Password" readonly>
                </div>
                <div class="col-md-6 col-12 border border-dark my-2 mx-0">
                    <p class="left"> Password</p>
                    <input name="password" type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 border border-dark my-2 mx-0">
                    <p class=""></p>
                </div>
                <div class="col-md-6 col-12 border border-dark my-2 mx-0">
                    <p class="left"> Confirm Password</p>
                    <input name="passwordConfirm" type="password" class="form-control" placeholder="Confirm Password">
                </div>
            </div>
            <div class="row">
                <div class="col-12 border border-dark my-2 mx-0">
                    <button type="submit" class="btn btn-light btn-lg btn-outline-dark">Update Password</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <% if (locals.errors && locals.errors.password) { %>
                    <div class="row justify-content-md-center p-0 col-12">
                        <% locals.errors.password.forEach(function(error) { %>
                            <div class="col-12 div alert alert-primary alert-dismissible fade show border-dark border" id="textcentre" role="alert">
                                <p class="mb-0"><%= error %></p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <% }) %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div><!-- end #main -->
<%- include('partials/footer'); %>